html, body {
	font-family: 'Lexend', sans-serif;
	background: white;
}

li {
	list-style: none;
}

.button-class { 
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	-webkit-transition-duration: 0.4s; 
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #019587;
	color: white;
} 

.pokemon-list {
	display: grid;
	text-align: center;
}


/* START OF MEDIA QUERIES */
  /* START OF 500 PX MEDIA QUERY*/

  @media screen and (min-width: 320px) { /* mobile phone portrait view */
	.container {
		margin-top: 90px;
	}
	
	.button-class { 
		padding: 16px 32px;
		font-size: 16px;
		margin: 4px 2px;
		border: 2px solid #000; 
	} 
	
	.pokemon-list {
		grid-template-columns: 1fr;
	}
	
	.modal-body {
		font-size: 16px;
	}
  /* END OF 500 PX MEDIA QUERY */
  }
  /* important curly bracket dont delete */
  
  
  
	/* START OF MIN 500 PX & MAX 700 PX MEDIA QUERY */
  
  @media screen and (min-width: 768px) { /* tablet portrait view */
	.container {
		margin-top: 90px;
	}
	
	.button-class { 
		padding: 16px 32px;
		font-size: 16px;
		margin: 4px 2px;
		border: 2px solid #000; 
	} 
	
	.pokemon-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.modal-body {
		font-size: 16px;
	}
  /* END OF MIN 500 PX & MAX 700 PX MEDIA QUERY */
  }
  /* important curly bracket dont delete */
  
  
  
	/* START OF MAX 700 PX MEDIA QUERY */
  
  @media screen and (min-width: 1024px) { /* computer widescreen view */ /* media query */
	.container {
		margin-top: 90px;
	}
	
	.button-class { 
		padding: 16px 32px;
		font-size: 16px;
		margin: 4px 2px;
		border: 2px solid #000; 
	} 
	
	.pokemon-list {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	
	.modal-body {
		font-size: 16px;
	}  
  /* END OF MAX 700 PX MEDIA QUERY */
  }
  /* important curly bracket dont delete */
/* END OF MEDIA QUERIES */